body {
  font-family: 'Manjari', sans-serif;
  font-size: 20px;
  background-color: #eaeaee;
}

.container {
  width: 100%;
  height: 70px;
  border-bottom: 0.5px solid;
}

h1 {
  padding: 18px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

.btn {
  margin: 2px;
  height: 65px;
  font-size: 25px;
}
